WebService/T2_WBD/src/conf/xml-resources/web-service-references/AnswerWS_1/wsdl/localhost_8080/T2_WBD/AnswerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Answer/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Answer/">

<xs:element name="Answer" type="tns:answer"/>

<xs:element name="getAnswerByQID" type="tns:getAnswerByQID"/>

<xs:element name="getAnswerByQIDResponse" type="tns:getAnswerByQIDResponse"/>

<xs:complexType name="getAnswerByQID">
<xs:sequence>
<xs:element name="qid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByQIDResponse">
<xs:sequence>
<xs:element name="Answer" type="tns:answer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="q_id" type="xs:int"/>
<xs:element name="u_id" type="xs:int"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="timestamp" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>